In [251]:
import pandas as pd
import numpy as np
from numpy import nan as NA

In [420]:
Energy = pd.read_excel('Energy Indicators.xls', header=None, footer=None, usecols='C:G')
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy["Energy Supply"] = 1000000 * Energy["Energy Supply"]
Energy = Energy.dropna()
Energy['Country'] = Energy['Country'].replace(["Republic of Korea","United States of America",
                                               "China, Hong Kong Special Administrative Region",
                                              "United Kingdom of Great Britain and Northern Ireland",
                                              "Switzerland17","Bolivia (Plurinational State of)"],
                                              ["South Korea","United States","United Kingdom","Hong Kong","Switzerland",
                                              "Bolivia"])
Energy = Energy.replace('...', np.NaN)
Energy.drop([9, 11], axis=0).head(50)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
18,Afghanistan,321000000,10,78.6693
19,Albania,102000000,35,100
20,Algeria,1959000000,51,0.55101
21,American Samoa,.................................................,NaN,0.641026
22,Andorra,9000000,121,88.6957
23,Angola,642000000,27,70.9091
24,Anguilla,2000000,136,0
25,Antigua and Barbuda,8000000,84,0
26,Argentina,3378000000,79,24.0645
27,Armenia,143000000,48,28.2361
28,Aruba,12000000,120,14.8707
29,Australia1,5386000000,231,11.8108
30,Austria,1391000000,164,72.4528
31,Azerbaijan,567000000,60,6.38434
32,Bahamas,45000000,118,0
33,Bahrain,574000000,425,0
34,Bangladesh,1625000000,10,1.96633
35,Barbados,19000000,69,0
36,Belarus,1142000000,120,0.463389
37,Belgium,2338000000,210,9.95974
38,Belize,13000000,39,64.69
39,Benin,170000000,16,0
40,Bermuda,6000000,88,0
41,Bhutan,63000000,83,100
42,Bolivia,336000000,32,31.4771
43,"Bonaire, Sint Eustatius and Saba",5000000,213,0
44,Bosnia and Herzegovina,266000000,70,41.4647
45,Botswana,86000000,39,0.131406
46,Brazil,12149000000,59,69.648
47,British Virgin Islands,2000000,85,0
48,Brunei Darussalam,127000000,310,0.045434
49,Bulgaria,703000000,97,17.2346
50,Burkina Faso,164000000,10,14.5007
51,Burundi,58000000,6,86.7925
52,Cabo Verde,7000000,15,21.2276
53,Cambodia,250000000,17,57.3116
54,Cameroon,307000000,14,70.8863
55,Canada,10431000000,296,61.9454
56,Cayman Islands,8000000,131,0
57,Central African Republic,23000000,5,85.6354
58,Chad,77000000,6,0
59,Chile,1613000000,92,28.0066
60,China2,127191000000,93,19.7549
61,"China, Hong Kong Special Administrative Region3",585000000,82,0
62,"China, Macao Special Administrative Region4",47000000,83,0
63,Colombia,1513000000,32,63.0028
64,Comoros,5000000,7,11.6279
65,Congo,102000000,23,57.7489
66,Cook Islands,1000000,48,0
67,Costa Rica,222000000,47,88.7364

In [245]:
GDP = pd.read_csv('world_bank.csv', header=None)
GDP.replace(["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"],
                            ["South Korea","Iran","Hong Kong"])
GDP

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,Data Source,World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Last Updated Date,7/22/2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Country Name,Country Code,Indicator Name,Indicator Code,1.960000e+03,1.961000e+03,1.962000e+03,1.963000e+03,1.964000e+03,1.965000e+03,...,2.006000e+03,2.007000e+03,2.008000e+03,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,"Yemen, Rep.",YEM,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.672565e+10,2.761787e+10,2.872656e+10,2.991436e+10,3.090675e+10,2.624342e+10,2.689160e+10,2.800914e+10,NaN,NaN
265,South Africa,ZAF,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,7.707081e+10,8.003449e+10,8.497844e+10,9.124438e+10,9.848904e+10,1.072510e+11,...,3.402850e+11,3.585260e+11,3.699670e+11,3.642760e+11,3.753490e+11,3.874070e+11,3.960070e+11,4.047680e+11,4.110370e+11,4.163120e+11
266,"Congo, Dem. Rep.",COD,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,1.508024e+10,1.344383e+10,1.629401e+10,1.714358e+10,1.672524e+10,1.689205e+10,...,1.650894e+10,1.754232e+10,1.863448e+10,1.916651e+10,2.052329e+10,2.193213e+10,2.350200e+10,2.550050e+10,2.778776e+10,2.970961e+10
267,Zambia,ZMB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,4.592975e+09,4.655503e+09,4.539542e+09,4.688093e+09,5.260699e+09,6.136472e+09,...,1.440569e+10,1.560892e+10,1.682234e+10,1.837342e+10,2.026555e+10,2.140358e+10,2.302438e+10,2.420595e+10,2.542227e+10,2.624127e+10
268,Zimbabwe,ZWE,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,3.338344e+09,3.549199e+09,3.600111e+09,3.824915e+09,3.782605e+09,3.968352e+09,...,1.006276e+10,9.695130e+09,7.982103e+09,8.459783e+09,9.422161e+09,1.054391e+10,1.165789e+10,1.218064e+10,1.264939e+10,1.278517e+10

In [183]:
ScimEn = pd.read_excel('scimagojr-3.xlsx')
ScimEn.head(50)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86
15,16,Taiwan,6468,6441,86099,14768,13.31,102
16,17,Turkey,5879,5827,91857,23165,15.62,104
17,18,Norway,5675,5634,32693,6024,5.76,74
18,19,Netherlands,5170,5105,48351,6067,9.35,85
19,20,Sweden,4565,4494,57889,9632,12.68,95
20,21,Malaysia,3914,3881,25545,6597,6.53,62
21,22,Switzerland,3636,3599,38962,6186,10.72,81
22,23,Denmark,3531,3494,37254,6191,10.55,85
23,24,Mexico,3249,3214,21524,4145,6.62,57
24,25,Poland,3123,3102,24852,5395,7.96,55
25,26,Saudi Arabia,2979,2930,21208,2469,7.12,61
26,27,Greece,2866,2835,41662,6226,14.54,82
27,28,Egypt,2789,2752,19123,2778,6.86,55
28,29,Belgium,2697,2642,23720,3300,8.79,63
29,30,Singapore,2488,2443,36098,3700,14.51,81
30,31,Hong Kong,2448,2436,34453,3959,14.07,78
31,32,Portugal,2443,2426,22700,3639,9.29,63
32,33,Finland,1998,1978,19273,3260,9.65,59
33,34,South Africa,1928,1913,11924,1996,6.18,46
34,35,Austria,1761,1736,14580,1557,8.28,53
35,36,Ukraine,1744,1608,5073,1323,2.91,27
36,37,Romania,1738,1729,7100,1350,4.09,38
37,38,Thailand,1722,1712,19764,2600,11.48,62
38,39,Czech Republic,1608,1600,5630,1119,3.50,36
39,40,Argentina,1223,1213,10620,1654,8.68,47
40,41,Israel,1215,1202,14764,2051,12.15,54
41,42,Algeria,1215,1197,7393,1413,6.08,40
42,43,United Arab Emirates,1137,1124,6055,611,5.33,37
43,44,New Zealand,1092,1082,11504,1209,10.53,47
44,45,Colombia,1017,1014,7111,844,6.99,37
45,46,Nigeria,1017,1011,3559,684,3.50,29
46,47,Ireland,974,959,14361,1719,14.74,57
47,48,Venezuela,891,886,6109,693,6.86,41
48,49,Indonesia,833,827,3588,355,4.31,28
49,50,Kuwait,737,731,6101,651,8.28,39

In [297]:
Energy = Energy.set_index('Country')

KeyError: "None of ['Country'] are in the columns"